@charset 'utf-8';

/* Reset CSS
    Eric Meyer's v1.0 | 20080212(http://meyerweb.com/eric/tools/css/reset/)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

/* remember to define focus styles! */
:focus {outline:0;}

/* remember to highlight inserts somehow! */
ins {text-decoration:none;}
del {text-decoration:line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse:collapse; border-spacing:0;}

/* // Reset CSS */

html {overflow:hidden;}
body {color:#FFF; font-size:12px; line-height:1.4; font-family:Tahoma,Verdana,Arial,Apple-Gothic,sans-serif;}
button {border:0; padding:0; background:transparent; cursor:pointer; *overflow:visible; color:#898989; font-size:12px; font-family:Tahoma,Verdana,Arial,Apple-Gothic,sans-serif;}
button::-moz-focus-inner {border:0; padding: 0;}
button img {*position:relative;}

#developer {position:relative; width:312px; height:386px; padding:12px; background:url('http://img.joymax.com/property/silkroad/silkroadonline_3/ntg_img/web_poll_img/bg_dev.gif') no-repeat left top; overflow:hidden;}
#content {position:relative; height:352px; margin-bottom:12px; padding:0 10px 0 9px; overflow:auto;}
#content .done {margin-bottom:15px; padding-top:4px;}
#closer {text-align:center;}
#alert {position:absolute; top:130px; left:50%; display:none; width:312px; height:151px; margin-left:-156px; background:url('http://img.joymax.com/property/silkroad/silkroadonline_3/ntg_img/web_poll_img/bg_alert.gif') no-repeat left top; text-align:center;}
#alert .tit {height:19px; padding:8px 0 3px; font-weight:normal;}
#alert .note {height:40px; margin:0 4px 5px; padding:30px 10px 4px;}

h1 {margin-bottom:4px; padding-top:4px; color:#EFDAA4;}
.desc {margin-bottom:20px;}
.ques {margin-bottom:25px;}
.ques .tit {margin-bottom:4px;}

.func .btn, .func .btn button, .bbs .func .btn input {
    position:relative; display:inline-block; height:23px; margin:0; padding-bottom:1px;border:0;
    background:url('http://img.joymax.com/property/silkroad/silkroadonline_3/ntg_img/web_poll_img/bg_btn.gif') no-repeat left top;
    color:#FFF; font-size:12px; line-height:23px; font-family:Tahoma,Verdana,Arial,Apple-Gothic,sans-serif; text-align:center;
    text-decoration:none !important; white-space:nowrap; vertical-align:middle;
}
.func .btn a, .func .btn button, .func .btn input {left:7px; overflow:visible; padding:0 24px 0 17px; background-position:right top; cursor:pointer; *vertical-align:top;}
.func .btn-confirm, .func .btn-confirm button {left:0; width:100px; padding:0; background-image:url('http://img.joymax.com/property/silkroad/silkroadonline_3/ntg_img/web_poll_img/bg_btn_fixed_100.gif');}



.scroll-helper {padding:50px 0;}

/* ---------- basic theme: these are the most necessary styles --------------------------------- */

.scrollbar-pane {margin-right: 20px; padding:0 10px 0 9px;}
.scrollbar-handle-container {background: #EEE; width: 20px;}
.scrollbar-handle {width: 20px; background: #999;}
.scrollbar-handle:hover {background: #666;}
.scrollbar-handle.move {background: #111;}
.scrollbar-handle-up {width: 20px; height: 20px; background: #DDD;}
.scrollbar-handle-up:hover {background: #666;}
.scrollbar-handle-down {width: 20px; height: 20px; background: #DDD;}
.scrollbar-handle-down:hover {background: #666;}

/* ---------- simple theme --------------------------------------------------------------------- */

#content .scrollbar-pane {margin-right: 14px;}
#content .scrollbar-handle-container {right:0; width:14px; background:#211D11 url('http://img.joymax.com/property/silkroad/silkroadonline_3/ntg_img/web_poll_img/bg_scrollbar_container.gif') repeat-y left top;}
#content .scrollbar-handle-container.hover, #content .scrollbar-handle-container.move {}
#content .scrollbar-handle-up, #content .scrollbar-handle-down {background-image: url('http://img.joymax.com/property/silkroad/silkroadonline_3/ntg_img/web_poll_img/btn_scrollbar_arrow.gif'); background-repeat: no-repeat;}

/* handle */
#content .scrollbar-handle {width: 12px; right:0; border-top:1px solid #E8E6C0; border-right:1px solid #4D3E20; border-bottom:1px solid #4D3E20; border-left:1px solid #E8E6C0; background:#8D7D4E url('http://img.joymax.com/property/silkroad/silkroadonline_3/ntg_img/web_poll_img/bg_scrollbar_handle.gif') no-repeat center center;}
#content .scrollbar-handle:hover, #content .scrollbar-handle-move {background-color:#8D7D4E;}

/* arrow up */
#content .scrollbar-handle-up {right:0; width:14px; height: 15px; background-color:transparent; background-position: -2px -2px;}
#content .scrollbar-handle-up-move {}

/* arrow down */
#content .scrollbar-handle-down {right:0; bottom:0; width:14px; height:15px; background-color:transparent; background-position: -2px -17px;}
#content .scrollbar-handle-down-move {}
